<div id="roleDialog" class="crudDialog">
    <form id="roleForm" method="post">
        <div class="form-group">
            <select id="roleId" name="roleId" multiple="multiple" style="width: 100%">
                <!--<c:forEach var="upmsRole" items="${upmsRoles}">-->
                <!--<option value="${upmsRole.roleId}" <c:forEach var="upmsUserRole" items="${upmsUserRoles}"><c:if test="${upmsRole.roleId==upmsUserRole.roleId}">selected="selected"</c:if></c:forEach>>${upmsRole.title}</option>-->
                <!--</c:forEach>-->
            </select>
        </div>
        <div class="form-group text-right dialog-buttons">
            <a class="waves-effect waves-button" href="javascript:;" onclick="roleSubmit();">保存</a>
            <a class="waves-effect waves-button" href="javascript:;" onclick="roleDialog.close();">取消</a>
        </div>
    </form>
</div>
<script th:inline="javascript">
    var upmsRoles = [[${upmsRoles}]];
    var upmsUserRoles = [[${upmsUserRoles}]];
    var data = []
    $.each(upmsRoles, function (index, upmsRole) {
        var id = upmsRole.roleId;
        if (isContain(id)) {
            data.push({id: id, text: upmsRole.title, selected: true});
        } else {
            data.push({id: id, text: upmsRole.title});
        }
    });

    function isContain(id) {
        for (var i = 0; i < upmsUserRoles.length; i++) {
            if (upmsUserRoles[i].roleId == id) {
                return true;
            }
        }
        return false;
    }

    $("#roleId").select2({
        placeholder: '输入话题关键字',
        tags: true,
        multiple: true,
        height: '40px',
        maximumSelectionLength: 3,
        allowClear: true,
        language: "zh-CN",
        data: data
    });

    function roleSubmit() {
        $.ajax({
            type: 'post',
            url: '/sys/upmsUser/role/' + roleUserId,
            data: $('#roleForm').serialize(),
            beforeSend: function () {

            },
            success: function (result) {
                if (result.code != 1) {
                    if (result.data instanceof Array) {
                        $.each(result.data, function (index, value) {
                            $.confirm({
                                theme: 'dark',
                                animation: 'rotateX',
                                closeAnimation: 'rotateX',
                                title: false,
                                content: value.errorMsg,
                                buttons: {
                                    confirm: {
                                        text: '确认',
                                        btnClass: 'waves-effect waves-button waves-light'
                                    }
                                }
                            });
                        });
                    } else {
                        $.confirm({
                            theme: 'dark',
                            animation: 'rotateX',
                            closeAnimation: 'rotateX',
                            title: false,
                            content: result.data.errorMsg,
                            buttons: {
                                confirm: {
                                    text: '确认',
                                    btnClass: 'waves-effect waves-button waves-light'
                                }
                            }
                        });
                    }
                } else {
                    roleDialog.close();
                    $table.bootstrapTable('refresh');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.confirm({
                    theme: 'dark',
                    animation: 'rotateX',
                    closeAnimation: 'rotateX',
                    title: false,
                    content: textStatus,
                    buttons: {
                        confirm: {
                            text: '确认',
                            btnClass: 'waves-effect waves-button waves-light'
                        }
                    }
                });
            }
        });
    }
</script>